name: 'Cargo CI'
on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get update &&\
          sudo apt-get install libusb-1.0-0-dev -y
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          component: clippy          

      - run: rustup component add clippy
      - uses: giraffate/clippy-action@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          level: 'warning'
  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: cargo test
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        command: check bans licenses sources
